.wrapper {
    padding: 30px;
    width: 450px;
    display: flex;
    align-items: center;
}

.inputRange {
    -webkit-appearance: none;
    outline: none;
    background: #ededed;
    height: 6px;
    width: 200px;
    border-radius: 5px;


}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.RangeValue {
    background: white;
    color: black;
    border-radius: 2px;
    padding: 3px 7px;
    margin: 0px 15px;
    text-align: center;
}